.App {
  display: flex;
  align-items: flex-start;
  height: 100%;
  height: 100vh;
}


.entrepriseContainer{
  width: 30%;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.titleContainer{

  height: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.title{
  font-style:italic;
  font-weight: 700;
  font-size: xx-large;
  letter-spacing: 0.45ch;
  
}
.informationsContainer{
  height: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.mapContainer{
  width: 70%;
  height: 100vh;

}

